node_modules
dist
npm-debug.log*
.env
.env.*
!.env.example
Dockerfile
.dockerignore
.git
.gitignore
.temp
**/__pycache__
payment-gateway/tests
payment-gateway/docs
payment-gateway/sdk
payment-gateway/examples
payment-gateway/api
